body{
    background: #ffffff;
}
#button{
    color: #ffffff;
    background: #000000;
    padding: 5px;
    margin-left: 70%;
}
#window{
    border: solid blue 2px;
    width: 20%;
    border-radius: 0;
    margin: 100px auto;
    background: white;
    padding: 20px;
}
table.tableSection {
    display: table;
    width: 100%;
}
table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 150px;
}
table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
}
table, th, td {
    border: 1px solid gray;
}